h3 {
  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150.2%;
  color: #ffffff;
  margin-bottom: 10px;
}

.card {
  background-color: transparent;
}

.card-title {
  font-family: Product Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
}

.card-text {
  font-family: Product Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #929292;
}

.card-img-top {
  height: 250px;
}

@media (max-width: 1000px) {
  .container-fluid > h3 {
    text-align: center;
    margin-bottom: 25px;
  }

  .col-md {
    display: flex;
    text-align: center;
    margin-bottom: 50px;
    justify-content: center;
  }

  .card {
    width: 250px;
  }

  .card-img-top {
    height: 350px;
  }
}
